body {background-image: url('LICEU20.jpeg');
		background-size: cover; 
		 background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.title {
    margin-bottom: 10px;
}
.separator {
    width: 50%;
    margin: auto;
    border: none;
    border-top: 0px solid #fff;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #333;
}
p {
    line-height: 1.6;
    color: #666;
}